<!-- BEGIN: main -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#one" aria-controls="one" role="tab" data-toggle="tab">Chi Tiết Dự Án</a>
                </li>
                <li role="presentation">
                    <a href="#two" aria-controls="two" role="tab" data-toggle="tab">Thông Tin Quyên Góp</a>
                </li>
                <li role="presentation">
                    <a href="#three" aria-controls="three" role="tab" data-toggle="tab">Lịch Sử Quyên Góp</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="one">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Ten du an
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="my-pics" class="carousel slide" data-ride="carousel"
                                    style="width:300px;margin:auto;">
                                    <ol class="carousel-indicators">
                                        <li data-target="#my-pics" data-slide-to="0" class="active"></li>
                                        <li data-target="#my-pics" data-slide-to="1"></li>
                                        <li data-target="#my-pics" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="/pix/samples/16l.jpg" alt="Sunset over beach">
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
                                        <span class="icon-prev" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
                                        <span class="icon-next" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="row" style="margin-left: 10px; margin-top: 10px;">
                                    <div class="col">
                                        mo ta chi tiet 
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button class="btn btn-danger">Quyên Góp</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="two">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên Người Ủng Hộ</th>
                                <th>Số Tiền</th>
                                <th>Thời Gian</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>$1</td>
                                <td>10/10/2001</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="three">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số Tiền</th>
                                <th>Thời Gian</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>$1</td>
                                <td>10/10/2001</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: main -->