<!-- BEGIN: main -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Lịch Sử Giao Dịch
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã Dự Án</th>
                        <th>Tên Dự Án</th>
                        <th>Số Tiền Ủng Hộ</th>
                        <th>Thời Gian</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>A123</td>
                        <td>Dự án từ thiện</td>
                        <td>$1</td>
                        <td>10/10/2001</td>
                        <td>
                            <button class="btn btn-primary">
                                Chi tiết
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END: main -->