<!-- BEGIN: main -->
<h1>ád</h1>
<!-- END: main -->
<!-- BEGIN: main -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="">Ten du an</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <div class="col">
                    <img src="/pix/samples/3s.jpg" class="img-rounded">
                </div>
            </div>
            <div class="row" style="margin-left: 10px;">
                <div class="col">
                    mo ta ngan
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: main -->