<!-- BEGIN: main -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Them moi du an
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ten du an</th>
                            <th>Mo ta ngan</th>
                            <th>Mo ta chi tiet</th>
                            <th>Tien quyen gop</th>
                            <th>Hinh anh</th>
                            <th>Tinh trang</th>
                            <th>Duyet du an</th>
                            <th>Chuc nang</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- BEGIN: list_du_an -->
                        <tr>
                            <th>{KEY}</th>
                            <td>{VALUE.ten_du_an}</td>
                            <td class="text-center">
                                <button class="motangan btn btn-primary" data-id="{VALUE.id}" data-toggle="modal" data-target="#mo_ta_ngan_modal"><i class="fa-solid fa-info"></i></button>
                            </td>
                            <td class="text-center">
                                <button class="motachitiet btn btn-primary" data-id="{VALUE.id}" data-toggle="modal" data-target="#mo_ta_chi_tiet_modal"><i class="fa-solid fa-info"></i></button>
                            </td>
                            <td>{VALUE.so_tien}</td>
                            <td>
                                <img src="{VALUE.hinh_anh}" style="max-width: 300px" alt="">
                            </td>
                            <td>
                                {IS_OPEN}
                            </td>
                            <td>
                                {IS_DUYET}
                            </td>
                            <td>
                                <button class="update btn btn-primary" data-id="{VALUE.id}" data-toggle="modal" data-target="#update">Cap nhat</button>
                                <button class="delete btn btn-danger" data-id="{VALUE.id}">Xoa</button>
                                <button class="btn btn-info" data-id="{VALUE.id}">Lich su</button>
                            </td>
                        </tr>
                    </tbody>
                    <!-- END: list_du_an -->
                </table>
                <div id="mo_ta_ngan_modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                          <p id="mo_ta_ngan"></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="mo_ta_chi_tiet_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p id="mo_ta_chi_tiet"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                
                </div>
                </div>

                <div id="update" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/action_page.php">
                            <input type="number" hidden id="id_edit">
                            <input type="number" hidden id="id_nguoi_tao">
                            <div class="form-group">
                                <label>Ten du an</label>
                                <input type="text" class="form-control" id="ten_du_an">
                                </div>
                                <div class="form-group">
                                    <label>Mo ta ngan</label>
                                    <textarea name="mo_ta_ngan_edit" id="mo_ta_ngan_edit" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Mo ta chi tiet</label>
                                    <textarea name="mo_ta_chi_tiet_edit" id="mo_ta_chi_tiet_edit" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>So tien quyen gop</label>
                                    <input type="number" class="form-control" id="so_tien">
                                </div>
                                <div class="form-group">
                                    <label>Hinh anh</label>
                                    <input type="text" class="form-control" id="link_image">
                                    <input type="file" class="form-control" id="image" multiple>
                                </div>
                                <div class="form-group">
                                    <label>Thoi han quyen gop</label>
                                    <input type="date" class="form-control" id="thoi_han">
                                </div>
                                <div class="form-group">
                                    <label>Tinh trang</label>
                                    <select class="form-control" id="is_open">
                                        <option value="1">Hien thi</option>
                                        <option value="2">Tam tat</option>
                                    </select>
                                </div>
                            </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="accept_update" >Cap nhat</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dong</button>
                    </div>
                    </div>
                
                </div>
                </div>
                <div id="duyetModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Duyet du an</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="id_ma_du_an">
                        <p>Nhap ma du an de co the duyet du an !</p>
                        <input class="form-control" type="text" id="ma_du_an">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="accept_duyet" class="btn btn-default">Duyet du an</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dong</button>
                    </div>
                    </div>
                
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan_edit' );
    CKEDITOR.replace( 'mo_ta_chi_tiet_edit' );
</script>
<script>
    $(document).ready(function(){
        $('body').on('click', '.motangan', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&motangan=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#mo_ta_ngan").html(res.data.mo_ta_ngan);
                },
            });
        });

        $('body').on('click', '.motachitiet', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            console.log(id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&motachitiet=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#mo_ta_chi_tiet").html(res.data.mo_ta_chi_tiet);
                },
            });
        });

        $('body').on('click', '.update', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            console.log(id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&update=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    var data = res.data;
                    console.log(data);
                    $("#id_edit").val(res.data.id);
                    $("#id_nguoi_tao").val(res.data.id_nguoi_tao);
                    $("#ten_du_an").val(res.data.ten_du_an);
                    CKEDITOR.instances.mo_ta_ngan_edit.setData(res.data.mo_ta_ngan);
                    CKEDITOR.instances.mo_ta_chi_tiet_edit.setData(res.data.mo_ta_chi_tiet);
                    $("#so_tien").val(res.data.so_tien);
                    $("#link_image").val(res.data.hinh_anh);
                    $("#thoi_han").val(res.data.thoi_han);
                    $("#tag").tagsinput('add', res.data.id_tag);
                    $("#is_open").val(res.data.is_open);
                },
            });
        });

        $("#accept_update").click(function(){
            var hinh_anh = image.files;
            console.log(hinh_anh);
            var payload = new FormData();
                payload.append('id', $("#id_edit").val());
                payload.append('id_nguoi_tao', $("#id_nguoi_tao").val());
                payload.append('ten_du_an', $("#ten_du_an").val());
                payload.append('so_tien', $("#so_tien").val());
                payload.append('link_image', $("#link_image").val());
                payload.append('thoi_han', $("#thoi_han").val());
                for(var i=0;i<hinh_anh.length;i++){
                    payload.append('hinh_anh_'+ i, hinh_anh[i]);
                }
                payload.append('so_luong_anh', hinh_anh.length);
                payload.append('is_open', $("#is_open").val());
                payload.append('mo_ta_ngan', CKEDITOR.instances.mo_ta_ngan_edit.getData());
                payload.append('mo_ta_chi_tiet', CKEDITOR.instances.mo_ta_chi_tiet_edit.getData());

                $.ajax({
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&acceptUpdate=1',
                    type: 'post',
                    data: payload,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                       if(res.status){
                        toastr.success('Cap nhat thanh cong !!!');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                       }else{

                       }
                    },
                });    
        });

        $('body').on('click', '.duyet', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&duyet=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                   $("#id_ma_du_an").val(res.data.id);
                },
            });
        });

        $("#accept_duyet").click(function(){
           
            var payload = new FormData();
                payload.append('id', $("#id_ma_du_an").val());
                payload.append('ma_du_an', $("#ma_du_an").val());
                $.ajax({
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&acceptDuyet=1',
                    type: 'post',
                    data: payload,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                       if(res.status){
                        toastr.success('Them ma du an thanh cong !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                       }else{
                        toastr.error('Vui long nhap ma du an !');
                       }
                    },
                });    
        });

        $('body').on('click', '.unduyet', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&unduyet=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status){
                        toastr.success('Huy duyet du an thanh cong !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.success('Huy duyet that bai!');
                    }
                },
            });
        });

        $('body').on('click', '.khongduyet', function() {
            var id = $(this).data('id');
            console.log(id);
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&khongduyet=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status){
                        toastr.success('Khong duyet thanh cong !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error('Khong duyet that bai !');
                    }
                },
            });
        });

        $('body').on('click', '.delete', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&delete=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status){
                        toastr.success('Da xoa thanh cong !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error('Da xoa that bai !');
                    }
                },
            });
        });

        $('body').on('click', '.change', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&change=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status){
                        toastr.success('Doi trang thai thanh cong !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error('Doi trang thai that bai !');
                    }
                },
            });
        });
    });
</script>

<!-- END: main -->
