<!-- BEGIN: main -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Them moi du an
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ten du an</th>
                            <th>Mo ta ngan</th>
                            <th>Mo ta chi tiet</th>
                            <th>Tien quyen gop</th>
                            <th>Hinh anh</th>
                            <th>Chuc nang</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- BEGIN: list_du_an -->
                        <tr>
                            <th>{KEY}</th>
                            <td>{VALUE.ten_du_an}</td>
                            <td class="text-center">
                                <button class="motangan btn btn-primary" data-id="{VALUE.id}" data-toggle="modal" data-target="#mo_ta_ngan_modal"><i class="fa-solid fa-info"></i></button>
                            </td>
                            <td class="text-center">
                                <button class="motachitiet btn btn-primary" data-id="{VALUE.id}" data-toggle="modal" data-target="#mo_ta_chi_tiet_modal"><i class="fa-solid fa-info"></i></button>
                            </td>
                            <td>{VALUE.so_tien}</td>
                            <td>
                                <img src="{VALUE.hinh_anh}" style="max-width: 300px" alt="">
                            </td>
                            <td>
                                <button class="delete btn btn-danger" data-id="{VALUE.id}">Xoa</button>
                                <button class="chuyenveduan btn btn-info" data-id="{VALUE.id}">Chuyển về dự án</button>
                            </td>
                        </tr>
                    </tbody>
                    <!-- END: list_du_an -->
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan_edit' );
    CKEDITOR.replace( 'mo_ta_chi_tiet_edit' );
</script>
<script>
    $(document).ready(function(){
        $('body').on('click', '.motangan', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&motangan=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#mo_ta_ngan").html(res.data.mo_ta_ngan);
                },
            });
        });

        $('body').on('click', '.motachitiet', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            console.log(id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&motachitiet=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#mo_ta_chi_tiet").html(res.data.mo_ta_chi_tiet);
                },
            });
        });

        $('body').on('click', '.chuyenveduan', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            console.log(id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=duankhongduyet&chuyenveduan=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status){
                        toastr.success('Chuyển về dự án thành công !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error('Doi trang thai that bai !');
                    }
                },
            });
        });
    });
</script>

<!-- END: main -->
